<html  lang="en" xmlns="http://www.w3.org/1999/xhtml">
<style type="text/css">
    table {
        border: 1px black solid; /* стиль внешней рамки */
    }
    td {
        border: 1px black solid; /* стиль рамки ячеек */
    }
    th {
        border: 1px black solid; /* стиль рамки заголовков */
    }
</style>
<head>
    <title>Пользователи</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/webjars/uuid/uuid.js"></script>
    <script src="/app.js"></script>
    <script>
        const drawUserTable = (userData) => {
            for (let i = 0; i < userData.length; i++) {
                $("#userList").append("<tr>" + getUserLine(userData[i]) + "</tr>");
            }
        };
        const getUserLine = (userLine) =>
            "<td>" + userLine.id + "</td>" +
            "<td>" + userLine.name + "</td>"+
            "<td>" + userLine.login + "</td>"+
            "<td>" + userLine.password + "</td>"+
            "<td>" + userLine.address + "</td>";

        function createUser() {
            window.stompClient.disconnect();
            window.location.href = "/users/create"
        }
        $(function () {
            connect(() => {
                let requestId = uuid.v4();
                window.stompClient.subscribe('/userlist.' + requestId, (userList) => {
                    drawUserTable(JSON.parse(userList.body));
                });
                window.stompClient.send("/users/list", {requestId: requestId},
                    JSON.stringify({'messageStr': 'give me user list please'}));
            });
        });
    </script>
</head>

<body>
<img src="/logo.svg" style="width: 100px; height: 100px">
<h3>Список пользователей</h3>
<button onclick="createUser()">Создать пользователя</button>
<div><br/></div>

<table style="width: 80%">
    <thead>
    <tr>
        <td style="width: 50px">Id</td>
        <td style="width: 300px">Имя</td>
        <td style="width: 100px">Логин</td>
        <td style="width: 100px">Пароль</td>
        <td style="width: 500px">Адрес</td>
    </tr>
    </thead>
    <tbody id="userList"></tbody>
</table>
</body>
</html>
