<html lang="en" xmlns:th="http://www.thymeleaf.org" content="text/html;">
<head>
    <title>Create user</title>
</head>
<body>
<div class="top">
    <img src="static/createUser.png" style="width: 100px; height: 100px">
    <h3>Создать пользователя</h3>
    <form  th:action="@{/save}" th:object="${user}" th:method="post" accept-charset="utf-8">
        <label>
            Name:<br/>
            <input type="text" name="name" th:value="${user.name}" >
        </label>
        <br/>
        <label>
            Login:<br/>
            <input type="text" name="login" th:value="${user.login}">
        </label>
        <br/>
        <label>
            Password:<br/>
            <input type="password" name="password" th:value="${user.password}">
        </label>
        <br/>
        <label>
            Address:<br/>
            <input type="text" name="address.street" th:value="${user.address.street}">
        </label>
        <br/><br/>
        <button type="submit">OK</button>
    </form>
</div>
</body>
</html>